# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\horni\OneDrive - Politechnika Wroclawska\Daria\studia\Semestr VI\RozproszoneSystemyInformatyczne_L\xmlrpcserwer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
