<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    Aby uzyskać opis zmian pliku web.config, zobacz http://go.microsoft.com/fwlink/?LinkId=235367.

    Następujące atrybuty mogą zostać ustawione przy użyciu tagu <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
	<services>
		<service name="Labo6.RestService">
			<endpoint address="" binding="webHttpBinding" contract="Labo6.IRestService" behaviorConfiguration="myRESTEndpointBehavior"/>
		</service>
	</services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Aby zapobiec ujawnieniu informacji o metadanych, ustaw dla poniższych elementów wartość false przed wdrożeniem -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Aby uzyskać szczegółowe informacje o wyjątku dotyczące błędów na potrzeby debugowania, ustaw dla poniższego elementu wartość true. Ustaw wartość false przed wdrożeniem, aby zapobiec ujawnieniu informacji o wyjątku -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="myRESTEndpointBehavior">
          <webHttp helpEnabled="true"/>

        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  
  <system.webServer>
    <security>
      <requestFiltering>
        <verbs>
          <add verb="DELETE" allowed="true"/>
          <add verb="POST" allowed="true"/>
          <add verb="PUT" allowed="true"/>
          <add verb="GET" allowed="true"/>
        </verbs>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Aby przeglądać katalog główny aplikacji internetowej w trakcie debugowania, ustaw dla poniższego elementu wartość true.
        Ustaw wartość false przed wdrożeniem, aby zapobiec ujawnieniu informacji o folderze aplikacji internetowej.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
<!--ProjectGuid: 4E8F3260-1947-46A9-B6AE-C185CC702A76-->